<!DOCTYPE html>
  <meta property="og:title" content="Nguyen Huu Thang">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{imageUrl}}" />
</head>

<body>
  <div>
    {{imageUrl}}
  </div>
</body>

</html>